// ==============================================================================
// 	Global type
// ==============================================================================

// http://modularscale.com/scale/?px1=16&px2=60&ra1=1.5&ra2=0

h1, .h1, %h1 {
	@extend %lato;
	@include rem(font-size, 40px);
	line-height: 1.2;

	// @include media($small) {
	// 	@include rem(font-size, 36);
	// }

	// @include media($large) {
	// 	@include rem(font-size, 40);
	// }
}

h1 > .subhead {
	@extend %lato-bold;
	font-size: 0.6em; // relative to parent
	line-height: 1.2;
	text-transform: uppercase;

	@include media($large) {
		font-size: 0.5em;
	}
}

h2 {
	@extend %lato;
	@include rem(font-size, 22px);
}

.amp {
	@extend %amp;
	font-size: 1.2em; // RELATIVE to its parent. Will be slightly larger.
}

a {
	color: $color-primary;
	text-decoration: none;
	@extend %base-transition;

	&:hover, &:active {
		color: darken($color-primary, 10);
	}
}

p, li, ol {
	@extend %lora;
	line-height: $base-line-height;
	margin-top: 0;
}

.abstract, p:first-child {
	@include rem(font-size, 18px);
}

// ==============================================================================
// 	Global type
// ==============================================================================

%theme-dark {
	color: white;
	background: $bg--dark;
}

%theme-color {
	color: white;
	background: $bg--color;
}

%theme-light {
	color: $color-text--headline;
	background: $bg--light;
}