// Global type

h1, .h1, %h1 {
	@extend %lato;
	@include rem(font-size, 48px);
	line-height: 1.2;
	// letter-spacing: -0.01em;

	// @include media($small) {
	// 	@include rem(font-size, 36);
	// }

	// @include media($large) {
	// 	@include rem(font-size, 40);
	// }
}

h1 > .subhead {
	@extend %lato-bold;
	font-size: 0.6em; // relative to parent
	line-height: 1.2;
	text-transform: uppercase;

	@include media($large) {
		font-size: 0.5em;
	}
}

h2 {
	@extend %lato;
	@include rem(font-size, 22px);
}

.amp {
	@extend %amp;
	font-size: 1.2em; // RELATIVE to its parent. Will be slightly larger.
}

a {
	color: $color-primary;
	text-decoration: none;
	@extend %base-transition;

	&:hover, &:active {
		color: darken($color-primary, 10);
	}
}

p, li, ol {
	@extend %lora;
	line-height: $base-line-height;
	margin-top: 0;
}

.abstract, p:first-child {
	font-size: ms(1);
}

// Colors (themes)

%theme-dark {
	color: white;
	background: $bg-dark;
}