---
layout: default
title: Blog
active: blog
---
<div class="content">
	<form class="search--huge">
		<input type="search" placeholder="Search the blog" />
	</form>

	{% for i in (1...10) %}
	<article class="post">
		<a href="/blog-post.html">
			<h1>Lorem ipsum dolor sit amet</h1>
			<h2>Subhead consectetur adipisicing elit</h2>
		</a>
		<p class="post-excerpt">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, eum maxime aut quisquam accusamus aperiam porro vel repellat officia ratione? Quam, nam, quasi cupiditate pariatur excepturi optio quod non eligendi aliquam delectus? Ipsa, natus, ipsam quae sint ducimus explicabo reprehenderit.
		</p>
		<dl class="post-meta">
			<dt><time datetime="2013-09-12">September 12, 2013</time></dt>
			<dt class="post-meta-author">by <a href="#">Sean</a></dt>
			<dt>Filed under</dt>
			<dd><a href="#" class="post-meta-tag">News</a></dd>
			<dd><a href="#" class="post-meta-tag">People</a></dd>
		</dl>
	</article>
	{% endfor %}
	
</div>

{% include footer-local.html link="Resources <span class='amp'>&amp;</span> Tools" %}