---
layout: default
title: Case Studies
active: case-studies
---

<section class="strip first well" role="region">
	<h1>Check out all our awesome work</h1>
	<div class="wrapper">
		<main role="main">
			<p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, non, eaque, aut molestias inventore dicta assumenda consequatur libero perspiciatis voluptatum odit ipsa saepe corrupti dolorum corporis animi sit fugiat amet.</p>
		</main>
	</div>
</section>
<div class="strip">
	<div class="wrapper">
		<!-- filters -->
		<!-- include service-list.html class='secondary horizontal' -->
		
		<ul class="grid large">
		{% for i in (1..11) %}
			<li class="panel">
				{% assign link = "{{ site.baseurl }}case-study-details.html" %}
				<!-- {% include case-study-thumb.html has-summary=true %} -->
				<a href="/case-study-details.html">
					<img src="http://placehold.it/500x300" />
					<h3>Project name lorem ipsum</h3>
					<p class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, facilis, nam atque dicta nemo aliquam sit et eaque quas pariatur iure culpa quaerat magnam expedita.</p>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>

{% include footer-local.html title='Our blog' link='blog.html' %}