---
layout: default
title: Case Studies
active: case-studies
---

<section class="strip first well" role="region">
	<div class="wrapper">
		<h1>Headline about all our awesome work</h1>
		<main role="main" class="overview">
			<p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, non, eaque, aut molestias inventore dicta assumenda consequatur libero perspiciatis voluptatum odit ipsa saepe corrupti dolorum corporis animi sit fugiat amet.</p>
		</main>
	</div>
</section>
<div class="strip">
	<div class="wrapper">
		<!-- filters -->
		<!-- include service-list.html class='secondary horizontal' -->
		
		<ul class="grid small">
		{% for i in (1..11) %}
			<li class="panel">
				{% assign link = "{{ site.baseurl }}case-study.html" %}
				<!-- {% include case-study-thumb.html has-summary=true %} -->
				<a href="#"> <!-- /case-study.html -->
					<img src="http://placehold.it/500x300" />
				</a>
					<h3><a href="#">Project name lorem ipsum</a></h3>
					<p class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, facilis, nam atque dicta nemo aliquam... {% include read_more.html href="#" %}</p>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>

{% include footer-local.html title='Our blog' link='blog.html' %}