---
layout: default
title: home
---

<!-- hero unit w/recent work -->
<section class="hero carousel" role="region" aria-label="Recent Work">
	<ul>
		<li class="carousel-slide full_bleed">
			<hgroup class="title">
				<h5>Our Work</h5>
				<h3>Defenders of Wildlife</h3>
				<a href="{{ path }}case-study.html" class="button">Read the case study</a>
			</hgroup>
			<!-- <img class="feature-slide" src="{{ path }}assets/images/carousel-wolf-900x500-retina.jpg" alt="Defenders of Wildlife" /> -->
		</li>
	</ul>
	<nav class="carousel-thumbs">
		<ul>
			<li>
				<a href="#" class="thumb active"><img src="{{ path }}assets/images/carousel-nav-defenders.png" alt="" /></a>
			</li>
			<li>
				<a href="#" class="thumb"><img src="{{ path }}assets/images/carousel-nav-abd.png" alt="" /></a>
			</li>
			<li>
				<a href="#" class="thumb"><img src="{{ path }}assets/images/carousel-nav-wwf.png" alt="" /></a>
			</li>
			<li>
				<a href="#" class="thumb"><img src="{{ path }}assets/images/carousel-nav-audubon.png" alt="" /></a>
			</li>
			<li>
				<a href="#" class="thumb"><img src="{{ path }}assets/images/carousel-nav-nwa.png" alt="" /></a>
			</li>
		</ul>
	</nav>
</section><!-- / hero unit, recent work -->

<!-- Blog & events -->
<section class="strip full-bottom well" role="region">
	<h5 class="label">Our Thinking</h5>
	<div class="wrapper">

		<!-- blog -->
		<article class="post excerpt">
			<hgroup class="post-title">
				<h1><a href="{{ path }}blog-post.html">Odio dignissim qui blandit <strong>praesent luptatum zzril</strong></a></h1>
				<h2><a href="{{ path }}blog-post.html">Subhead adipiscig elit quinta possim</a></h2>
			</hgroup>
			
			<div class="narrow">
			<p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, iusto, sit mollitia delectus accusantium eum fuga ipsa soluta veritatis saepe officia et quod veniam laborum commodi ab eligendi beatae nisi inventore voluptatem facilis omnis voluptatibus rerum ratione illo error cumque aperiam quas deleniti atque. Quas, magnam, magni esse vero eaque ipsum dolorum dolores fuga perspiciatis vel similique alias in.</p>

			<p>Molestias, autem, rem, amet omnis impedit facilis dicta quam fuga error nihil quisquam explicabo necessitatibus vitae voluptas incidunt unde repudiandae iusto nam voluptates itaque id natus ipsa maxime a dignissimos quae nesciunt debitis molestiae ab aspernatur distinctio voluptatem assumenda eaque consequatur!</p>

			<p>Praesent luptatum zzril delenit augue duis dolore te? Nam liber tempor cum soluta nobis, eleifend option congue nihil. Quam nunc putamus parum claram anteposuerit litterarum formas, humanitatis per seacula quarta decima et quinta decima. Tincidunt ut laoreet dolore magna aliquam erat volutpat ut wisi enim ad minim veniam quis nostrud... {% include read_more.html href="#" %}</p>
			</div>
			<aside class="post-meta vertical" role="complementary">
				<dl>
					<dt>August 15, 2013</dt>
					<dd>By Sean</dd>
					<dt>Filed under</dt>
					<dd>News</dd>
					<dd>People</dd>
				</dl>
		</article><!-- / blog -->
	</div>

	<!-- events -->
		<section class="subsection well-secondary" role="complementary">
			<div class="wrapper">
				<h5 class="label secondary">News &amp; Events</h5>
				<ul class="grid medium">
					{% for i in (1...3) %}
					<li>
						<h4 class="overline"><a href="#">Sept 3</a></h4>
						<p>Investigationes delenit est veniam laoreet feugait... {% include read_more.html href="#" %}</p>
					</li>
					{% endfor %}
				</ul>
			</div>
		</section><!-- / events -->
</section><!-- /.blog -->

<!-- What we do -->
<section class="strip" role="region">
	<div class="wrapper">
		<h5 class="label">What we do</h5>
		<h1>Combining <strong>part art &amp; part science</strong> is our&nbsp;strength.</h1>
		<nav class="thumbs horizontal" role="navigation">
			<ul>
				<li>
					<a href="#" class="thumb secondary icon-alone has-tooltip bottom" title="Email Fundraising">
						<span aria-hidden="true" data-icon="&#128319;"></span>
		        <span class="screen-reader-text">Email Fundraising</span>
					</a>
				</li>
				<li>
					<a href="#" class="thumb secondary icon-alone has-tooltip bottom" title="Mobile Campaigns">
						<span aria-hidden="true" data-icon="&#128241;"></span>
		        <span class="screen-reader-text">Mobile Campaigns</span>
					</a>
				</li>
				<li>
					<a href="#" class="thumb secondary icon-alone has-tooltip bottom" title="Web Design and Development">
						<span aria-hidden="true" data-icon="&#9874;"></span>
		        <span class="screen-reader-text">Web Design &amp; Development</span>
					</a>
				</li>
				<li>
					<a href="#" class="thumb secondary icon-alone has-tooltip bottom" title="Donation Processing">
						<span aria-hidden="true" data-icon="&#59197;"></span>
		        <span class="screen-reader-text">Donation Processing</span>
					</a>
				</li>
				<li>
					<a href="#" class="thumb secondary icon-alone has-tooltip bottom" title="Social Media Management">
						<span aria-hidden="true" data-icon="&#59168;"></span>
		        <span class="screen-reader-text">Social Media Management</span>
					</a>
				</li>
				<li>
					<a href="#" class="thumb secondary icon-alone has-tooltip bottom" title="Online Advertising">
						<span aria-hidden="true" data-icon="&#128227;"></span>
		        <span class="screen-reader-text">Online Advertising</span>
					</a>
				</li>
				<li>
					<a href="#" class="thumb secondary icon-alone has-tooltip bottom" title="Event Fundraising">
						<span aria-hidden="true" data-icon="&#128197;"></span>
		        <span class="screen-reader-text">Event Fundraising</span>
					</a>
				</li>
				<li>
					<a href="#" class="thumb secondary icon-alone has-tooltip bottom" title="E-Append Services">
						<span aria-hidden="true" data-icon="&#59153;"></span>
		        <span class="screen-reader-text">E-Append Services</span>
					</a>
				</li>
			</ul>
		</nav>
		<div class="narrow">
			<p class="intro">
				We’ll handle the translation from offline to the web and then employ the technology to make it all happen in an integrated manner regardless of what platform you’re using. We take the technology tasks and burden off of nonprofit organizations and the agencies that serve them. Consider us your online fundraising solutions team.
			</p>
			<!-- <p>
				Need some help to get your pages up and connected with a donations processor? Wish you could have someone make that email look and work the way it’s supposed to when it arrives in all those mailboxes? Want to event fundraise online? Want to increase the response rates to your mailings and online campaigns?
			</p>
			<p>
				We can be your ongoing online fundraising partner, someone to get your systems set-up so you can manage campaigns yourself or work with you to launch a project on a tight deadline.
			</p> -->
		</div>
	</div>
</section><!-- / What we do -->

{% include footer-local.html title='More about our capabilities' link='what-we-do.html' %}