---
layout: default
title: What We Do
active: what-we-do
---

<nav role="navigation" class="jump">
	<a href="#" rel="previous" class="arrow">
		<span aria-hidden="true" data-icon="&#59231;" class="icon-alone"></span>
		<span class="screen-reader-text">Previous section</span>
	</a>
	<ul>
		<li><a href="#who-we-help" class="active has-tooltip left" title="Who we help">1</a></li>
		<li><a href="#our-process" class="has-tooltip left" title="Our process">2</a></li>
		<li><a href="#our-services" class="has-tooltip left" title="Our services">3</a></li>
	</ul>
	<a href="#" rel="next" class="arrow">
		<span aria-hidden="true" data-icon="&#59228;" class="icon-alone"></span>
		<span class="screen-reader-text">Next section</span>
	</a>
</nav>

<!-- Who we help -->
<section class="strip first" id="who-we-help">
	<div class="wrapper">
		<h1>Who we help</h1>
		<main role="main" class="overview">
			<p class="intro">
				We help strengthen organizations and their causes to help them make a difference online. We put your strategy into action to achieve results that help you reach your goals.
			</p>
			<p>Simply put, we work with nonprofits and the agencies that serve them.</p>
			<p>There are several reasons an organization chooses to work with us.  Sometimes…</p>
			<ul>
				<li>There just aren’t enough hours in the day.</li>
				<li>You wish you had that expert on staff, but you don’t.</li>
				<li>You’ve spent hours tweaking, testing and pleading with your software and it’s still not right.</li>
				<li>Your in-house guru just decided to move to a warmer climate.</li>
				<li>You need an extra set of hands to keep your program on schedule.</li>
			</ul>
			<p>Whatever your reason or situation, bring us your strategies and we’ll bring them to life online. We’ll get you and your donors engaged).</p>
		</main>
	</div>
</section><!-- / who we help -->

<!-- Process -->
<section class="strip well" id="#our-process">
	<div class="wrapper">
		<h1>Our process</h1>
		<div class="narrow">
			<p class="intro">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, et, praesentium, obcaecati recusandae ipsa facere aut odit doloribus accusamus ipsam tempore cum ipsum sint totam molestiae ut minus hic magni porro inventore nesciunt eveniet nulla doloremque accusantium labore quaerat explicabo!
			</p>
		</div>
	</div>
</section><!-- / process -->

<!-- Our services -->
<section class="strip full-bottom" id="#our-services">
	<div class="wrapper">
		<div class="overview">
			<h1>Our services</h1>
			<p class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, excepturi praesentium necessitatibus iste corporis voluptatum maxime sapiente perferendis nemo neque? Quibusdam, molestias, dolore autem quos omnis placeat provident consequuntur expedita modi magni ratione mollitia distinctio. Aliquid, commodi laborum dolores nobis voluptas qui eius saepe sed neque aperiam itaque soluta illo!</p>
		</div>
	</div>
		
	<section class="subsection well tabs vertical">
		<nav class="{{ include.class }}" role="navigation">
			<ul>
				<li><a href="#service1" class="active">Email Fundraising</a></li>
				<li><a href="#service2">Mobile Campaigns</a></li>
				<li><a href="#service3">Website Development &amp; Redesign</a></li>
				<li><a href="#service4">Donation Processing</a></li>
				<li><a href="#service5">Social Media Management</a></li>
				<li><a href="#service6">Online Advertising</a></li>
				<li><a href="#service7">Event Fundraising</a></li>
				<li><a href="#service8">E-Append Services</a></li>
			</ul>
		</nav>
		{% comment %}{% include service-list.html class='local vertical' %}{% endcomment %}
		{% include service.html num=0 class="open" %}

		{% for i in (1...7) %}
		{% include service.html num=forloop.index %}
		{% endfor %}
	</section>

</section><!-- / our services -->

{% include footer-local.html title='Our story <span class="amp">&amp;</span> our people' link="company.html" %}