// ==========================================================================
// HTML5 BP Helper classes
// ==========================================================================


/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

@mixin hidden {
  display: none;
  visibility: hidden;
}

// restore the 'hidden' css
@mixin restore-visible($display: block) {
  display: $display;
  visibility: visible;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

@mixin visuallyhidden($focusable: "false") {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  @if $focusable == "true" {

   // Extends the .visuallyhidden class to allow the element to be focusable
   // when navigated to via the keyboard: h5bp.com/p

    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

@mixin invisible {
  visibility: hidden;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

// @media only screen and (min-width: 35em) {
//     /* Style adjustments for viewports that meet the condition */
// }

// @media print,
//        (-o-min-device-pixel-ratio: 5/4),
//        (-webkit-min-device-pixel-ratio: 1.25),
//        (min-resolution: 120dpi) {
//     /* Style adjustments for high resolution devices */
// }