// ==================================================================================
// General layout helpers
// ==================================================================================

// Omega Reset
// -> Requires Bourbon NEAT
// -> Based on Josh Fry's Omega Reset, but updated
// -> http://joshfry.me/notes/omega-reset-for-bourbon-neat/
// -------------------------------------------------------------------------------

@mixin omega-reset($nth, $cols, $gc: $grid-columns, $display: block) {
	&:nth-child(#{$nth}) {
		@include span-columns($cols of $gc, $display);
	}
	&:nth-child(#{$nth} + 1) {
		clear: none;
	}
  // &:nth-child(#{$nth}) { margin-right: flex-gutter($fg); }
  // &:nth-child(#{$nth}+1) { clear: none }
}


// Responsive columns
// -> Requires Bourbon NEAT
// -------------------------------------------------------------------------------

@mixin span-columns-media($default, $xsm: null, $sm: null, $med: null, $lg: null, $center: false) {

	$widths: $xsm, $sm, $med, $lg;
	// $breakpoints: global var, see _settings.scss
	// $grid-cols: global var, see _settings.scss
	
	// set mobile width first with $default
	@if ($center == false) {
		@include span-columns($default);
	} @else if ($center == true) {
		@include span-columns-center($default);
	}
	
	// now set up media queries for the others
	@for $i from 1 to length($widths) {
		
		$width: nth($widths, $i);
		$bp: nth($breakpoints, $i);
		$cols: nth($grid-cols, $i);
		
		// null values are skipped (ie, no css for them)
		@if ($width != null) {
			@include media($bp) {
				@if ($center == false) {
					@include span-columns($width of $cols);
				} @else if ($center == true) {
					@include span-columns-center($width, $cols);
				}
			}
		}
	}
}

@mixin omega-media($default: null, $xsm: null, $sm: null, $med: null, $lg: null) {
	$omegas: $default, $xsm, $sm, $med, $lg;
	// $breakpoints: global var, see _settings.scss
	
	// set up media queries for each parameter
	@for $i from 1 to length($omegas) {
		$omega: nth($omegas, $i);
		$p: $i - 1;
		$omega-prev: nth($omegas, $p);
		// $omega-prev: nth($omegas, $i-1);

		// null values are skipped (ie, no css for them)
		@if ($omega != null) {
			@include media(nth($breakpoints, $i)) {
				// @include omega-reset($omega-prev);
				@include omega($omega);
			}
		}
	}
}

// Center an element within the NEAT grid
// -> Requires Bourbon NEAT
// -------------------------------------------------------------------------------

@mixin span-columns-center($cols, $total-cols: $grid-columns, $display: block) {
	@include span-columns($cols, $display);
	@include shift(($total-cols - $cols)/2);
}

// Add default layout margins at various breakpoints
// -> Requires _settings.scss (and set up for Bourbon NEAT)
// -------------------------------------------------------------------------------

@mixin base-grid-margins($property: margin, $full: false) {
	@include rem($property, 0 $base-margin--xsmall, $base-font-size--xsmall);

	@include media($small) {
		@include rem($property, 0 $base-margin--small, $base-font-size--small);
	}

	@include media($medium) {
		@include rem($property, 0 $base-margin--medium, $base-font-size--medium);
	}
	
	@include media($large) {
		@if ($full == true) {
			@include rem($property, 0 $base-margin--large, $base-font-size--large);
		} @else {
			margin: 0 auto;
			@include rem(max-width, $max-width - $base-margin--large, $base-font-size--large);
		}
	}
}

// make an inline (horizontal) list and vertically center child elements
// use this on the li elements or just inside them (ie anchors)
@mixin inline-list--centered($height: 100%) {
	@include rem(height, $height);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@mixin inline-dl {
  & > dt, & > dd {
    display: inline;
  }
  & > dt {
    margin-right: em(6);
  }
  & > dd {
    margin-left: 0;
    margin-right: em(12);
  }
}

// vertically center the children of an inline block element
@mixin inline-block--centered($height: 100%) {
	@include inline-block;
	vertical-align: middle;
	height: 100%;

	&:before {
		content: '';
    display: inline-block;  
    vertical-align: middle;
    height: 100%;
	}
}

%list--unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

