// ==============================================================================
// 	Global type
// -> http://modularscale.com/scale/?px1=16&px2=60&ra1=1.5&ra2=0
// ==============================================================================

// Headers
// -----------------------------------------------------------------------------

h1, .h1, %h1 {
	@extend %verb-light;
	@include rem(font-size, 40px);
	line-height: 1.2;
	letter-spacing: -0.04em;
	margin: 0.5em 0;

	strong {
		@extend %verb-bold;
		letter-spacing: -0.02em;
	}
}

h1 > .subhead {
	@extend %verb-bold;
	font-size: 0.6em; // relative to parent
	line-height: 1.2;
	text-transform: uppercase;

	@include breakpoint($screen--large) {
		font-size: 0.5em;
		text-transform: uppercase;
	}
}

h2, .h2, %h2 {
	@extend %verb-light;
	@include rem(font-size, 30px);
	line-height: 1.2;
	margin: 0.5em 0;
	letter-spacing: -0.03em;
}

h3, .h3, %h3 {
	// @extend %verb-bold;
	@extend %lora;
	@include rem(font-size, 18px);
	// text-transform: uppercase;
	margin: 0.5em 0;
}

h4, .h4, %h4 {
	@extend %verb-bold;
	@include rem(font-size, 18px);
	// text-transform: uppercase;
	// line-height: 1.2;
	margin: 0;
}

h5, .h5, %h5 {
	@extend %verb-bold;
	@include rem(font-size, 12px);
	text-transform: uppercase;
	// line-height: 1;
	margin: 0;
}

h6, .h6, %h6 {
	@extend %verb-bold;
	@include rem(font-size, 12px);
	text-transform: uppercase;
	margin: 0.5em 0;
}

hgroup {
	@include rem(padding-bottom, 24px);

	h1 {
		line-height: 0.8;
	}
	h2 {
		line-height: 1.2;
	}
}

#{headers()} {
	a {
		color: inherit;
	}
}

// makes a white-on-black "tag" from a lower header (h4-h6)
.headline-tag, %headline-tag, .label {
	@include inline-block;
	@include triangle--centered;
	position: relative;
	top: -#{$border-weight--thick + $border-weight--thin};
	color: $gray--superlight;
	background: $bg--dark;
	padding: em(16) em(27) em(12) em(27);
	margin: 0 0 em(18) 0;
	z-index: $base-z--top;

	&.secondary {
		background: none;
		border-top: $border-weight--thin solid $color-primary;
		top: -#{$border-weight--thin};
		padding: em(16) em(3);
		color: $color-primary;

		&:after {
			content: none;
		}
	}
}

.headline-underline, %headline-underline, .underline {
	padding: 0.5em;
	border-bottom: $border-weight--thick solid $bg--dark;
}

.overline {
	border-top: $border-weight--thick solid $color-border--medium;
	padding-top: 0.5em;
}

// .underline.thin {
// 	@extend .underline;
// 	border-bottom: $border-weight--thin solid $bg--dark;
// }

.primary, %primary {
	color: $color-primary;
}

.callout, .secondary, %secondary {
	color: $color-secondary;
}

a.secondary {
	&:hover, &:active {
		color: darken($color-secondary, 5);
	}
}

// Menu items
// -----------------------------------------------------------------------------

%menu--main {
	@extend %verb-bold;
	@include rem(font-size, 13px);
	color: $gray--medium;
	letter-spacing: -0.01em;
	text-transform: uppercase;

	&:hover {
		color: $gray--light;
	}

	&.active {

	}
}


// Body, inline type
// -----------------------------------------------------------------------------

p, li, ol {
	@extend %lora;
	//add hyphenation in body text for supporting browsers
	@include prefixer(hyphen, auto, webkit moz ms spec);
	line-height: $base-line-height;
	margin-top: 0;
	text-align: left;
}

dl {
	@extend %verb;
	@include rem(font-size, 13px);

	dt {
		@extend %verb-bold;
	}
}

.intro {
	@include rem(font-size, 20px);
	color: $color-text--body;
}

.caption {
	@extend %small;
}

a {
	@extend %base-transition;
	color: $color-primary;
	text-decoration: none;

	&:hover, &:active {
		color: darken($color-primary, 10);
	}

	& > hgroup, h1, h2, h3, h4, h5, h6 {
		color: $color-text--headline;
	}

	& > p {
		color: $color-text--body;
	}
}

small, %small {
	@extend %lora;
	@include rem(font-size, 13px);
}

.read_more {
	@extend %verb-bold;
	@include inline-block;
	margin-left: 0.8em;
	font-size: 0.8em;
	text-transform: uppercase;
	color: $color-primary;
}

// Ampesands
// -----------------------------------------------------------------------------

.amp {
	@extend %amp;
	font-size: 1.2em; // RELATIVE to its parent. Will be slightly larger.
	// letter-spacing: -0.05em;
	line-height: 1em;
}

// if @fontface is available...
.fontface .amp {
	
}

// ==============================================================================
// Icon fonts
// -> Apply an icon font to "data-icon" attributes
// -> http://css-tricks.com/html-for-icon-font-usage/
// ==============================================================================

// for icons placed before some text (such as in a button)
%icon, [data-icon]:before {
  @include icon; //mixin from _webfonts
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
  font-size: 3.5em;
  line-height: $base-line-height;
  text-transform: none;
  text-align: center;
  vertical-align: middle;
  margin: 0 0.1em;
}

// for icons placed before some text (such as in a button)
%icon-social, [data-icon-social]:before {
  @include icon-social; //mixin from _webfonts
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}

.screen-reader-text, %screen-reader-text { /* For text that explains what the icon is (ie "RSS" or "Menu") */
   position: absolute;
   top: -9999px;
   left: -9999px;
}

// for standalone icons
.icon-alone, %icon-alone {
  display: inline-block; /* Fix for clickability issue in WebKit */

  [data-icon]:before {
  	line-height: 1;
  }
}

// ==============================================================================
// 	Themes
// -> color schemes, borders, etc.
// ==============================================================================

// @mixin $border-weight--thick($side, $color) {
	
// }

.reverse, %theme-reverse, %theme-dark {
	color: white;
	background: $bg--dark;
	border-color: black;
	
	p {
		color: $gray--medium;
	}

	small {
		color: $gray--dark;
	}
}

.flood, %theme-flood, %theme-color {
	color: white;
	background: $bg--color;
	border-color: darken($bg--color, 3);
	// border-style: solid;

	hgroup, h1, h2, h3, h4, h5, h6, p, a {
		color: white;
	}

	a:hover, a:active {
		color: lighten($bg--color, 30);
	}
}

.island, %theme-island, %theme-light {
	color: $color-text--headline;
	background: $bg--light;
	border-color: darken(white, 8);
	border-style: solid;
	border-width: 0;
	
	p, ul, ol {
		color: $color-text--body;
	}
}

.well, %theme-well, %theme-midtone {
	color: $color-text--headline;
	background: $bg--midtone;
	// border-color: darken($bg--midtone, 3);
	// border-style: solid;
}

.well-secondary, %theme-well--secondary {
	background: darken($bg--midtone, 4);
}

// make an element grayscale
// and color when you hover on it
.bw, %theme-bw {
	@extend %img-grayscale;
	@include opacity(0.6);

	&:hover {
		@extend %img-grayscale-kill;
		@include opacity(1);
	}
}

