// ==============================================================================
// Low-level/base layout
// ==============================================================================

body {
	// @include rem(padding-top, 60px);
}

// constrain to grid width, max width, and center in the browser window
.wrapper, %wrapper {
	@include grid-margins(padding);
	margin: 0 auto;
	max-width: $grid-width;

  &.grid-wrap {
    @include clearfix;
    overflow: hidden;
  }
}

// the first container on the page, after the header
// this is to add the right margin to the top so it doesn't get covered up by the header
.is-first {
	// @include rem(margin-top, $header-h);
}

.narrow, %narrow {
	@include grid-span(4, 1, $options: both);
	@include clearfix;
	position: relative;

	@include breakpoint($screen--small) {
		@include grid-span(7, 2, $options: both);
		padding-right: 0;
	}

	@include breakpoint($screen--medium) {
		@include grid-span(10, 2, $options: both);
	}

	@include breakpoint($screen--large) {
		@include grid-span(8, 3, $options: both);
	}
}

.overview, %overview {
	@extend %narrow;
	@include rem(margin-bottom, 30px);

}

// Tiles
// -> vertically-oriented, self-contained listing
// ----------------------------------------------------------------------------

.tile {
  @include rem(padding, 12px 0);
  display: block;

  #{headers()} {
  	line-height: 1.2;
  }

  & > img {
    display: block;
    @include rem(margin, 12px auto);
  }
}

.tile.center {
  text-align: center;
}