// ==============================================================================
// Low-level/base layout
// ==============================================================================

body {
	// @include rem(padding-top, 60px);
  background: white !important;
}

// constrain to grid width, max width, and center in the browser window
.wrapper, %wrapper {
	@include grid-margins(padding);
  background: transparent !important;
	margin: 0 auto;
  width: 100%;
	max-width: $grid-width;

  &.grid-wrap {
    @include clearfix;
    overflow: hidden;
  }

  & > h1 {
    clear: both;
  }
}

%wrapper-grid {
  @extend .wrapper;
  @include clearfix;
  overflow: hidden;
}

.narrow, %narrow {
  clear: both;
  width: 100%;
  overflow: hidden;

	@include grid-span(4, 1, $options: both);
	// @include clearfix;
	position: relative;

	@include breakpoint($screen--small) {
		@include grid-span(7, 2, $options: both);
		// padding-right: 0;
	}

	@include breakpoint($screen--medium) {
		@include grid-span(8, 3, $options: both);
	}
}

%narrow-sidebar-right {
  @include grid-span(4, 1, $options: both);
  text-align: left;

  @include breakpoint($screen--small) {
    @include grid-span(1, 9);
  }

  @include breakpoint($screen--medium) {
    @include grid-span(2, 11);
  }
}

.overview, %overview {
	@extend %narrow;
	@include rem(margin-bottom, 30px);
  padding-right: 0;

}

// Tiles
// -> vertically-oriented, self-contained listing
// ----------------------------------------------------------------------------

.tile {
  @include rem(padding, 12px 0);
  display: block;

  #{headers()} {
  	line-height: 1.2;
  }

  & > img {
    display: block;
    @include rem(margin, 12px auto);
  }
}

.tile.center {
  text-align: center;
}