// ==========================================================================
// 	Default paths
// ==========================================================================

$base-path-img: "../images/";

// ==========================================================================
// 	Typography settings
// ==========================================================================

$base-font-size--default: 16; // in pixels
$base-line-height: 1.5; // base line height (ratio, no units)

// base font sizes @ each breakpoint
// see media queries below for breakpoint sizes
$base-font-size--xsmall: 14px;
$base-font-size--small: 16px;
$base-font-size--medium: 16px;
$base-font-size--large: 18px;

// ==========================================================================
// 	Media queries & grid
//  -> mobile first, using base font sizes to scale everything
// ==========================================================================

$grid-width: 1280px; // max width of the layout

// screen size breakpoints (values in px but do not include unit)
// --------------------------------------------------------------------------
$breakpoint-to-ems: true; // breakpoint setting -- covert all to ems

$screen--xsmall: 480px;
$screen--small: 768px;
$screen--medium: 1000px;
$screen--large: 1280px;

$grid-columns--xsmall: 4;
$grid-columns--small: 9;
$grid-columns--medium: 12;
$grid-columns--large: 12;

// array of breakpoints used for layout helpers (see _helpers.scss)
$breakpoints: $screen--xsmall, $screen--small, $screen--medium, $screen--large;
$grid-cols: $grid-columns--xsmall, $grid-columns--small, $grid-columns--medium, $grid-columns--large;

// html5 bp examples -- not used yet
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

// for print and high-resolution displays
$print: "print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)";


// Singularity.gs settings
// --------------------------------------------------------------------------

// set up grids
$grids: $grid-columns--xsmall;
$grids: add-grid($grid-columns--small at $screen--small);
$grids: add-grid($grid-columns--medium at $screen--medium);
$grids: add-grid($grid-columns--large at $screen--large);

$gutters: 24px; // global gutter width. 1:5 perfect fifth
$output: 'isolation'; // global output mode for singularity

// ==========================================================================
// 	Layout settings
// ==========================================================================

// Margins at the outside of the layout (at edges of browser/grid)
// --------------------------------------------------------------------------
$base-margin--xsmall: 18px;
$base-margin--small: 36px;
$base-margin--medium: 72px;
$base-margin--large: 72px;

$grid-margins: 18px, 36px, 72px, 72px;

// Dimensions of various containers
// --------------------------------------------------------------------------
// $header-h: 60px; // in px -- convert to rem in modules

// z-index settings
// -> reference these variables to keep track of where everything is
// --------------------------------------------------------------------------
$base-z--top: 3;
$base-z--middle: 2;
$base-z--bottom: 1;

$border-weight--thick: 8px;
$border-weight--thin: 1px;

// ==========================================================================
// 	Animation
// ==========================================================================

%base-transition {
	@include transition (all 0.2s ease-in);
}

// ==========================================================================
// 	Colors
// 	-> Use the "theme variables" (bottom) in your actual CSS. 
// 	-> The "name" variables (ie $purple) are just references for the theme.
// ==========================================================================

// Highlights
// --------------------------------------------------------------------------
$purple: #7C4099;
$green: #7BC33C;

// Neutrals
// --------------------------------------------------------------------------
$black: #242828;
$gray--dark: #2C3333;
$gray--medium: #798F8F;
$gray--light: #9CB3B3;
$gray--superlight: #F6F8F8;

// Color theme
// --------------------------------------------------------------------------
$color-primary: $purple;
$color-secondary: $green;

$color-text--headline: $gray--dark;
$color-text--body: lighten($gray--dark, 10);
$color-text--secondary: $gray--medium;

$bg--dark: $black;
$bg--color: $color-primary;
$bg--light: white;
$bg--midtone: $gray--superlight;

$color-border--light: darken($gray--superlight, 10);
$color-border--medium: lighten($gray--medium, 20);
$color-border--dark: black;
