// Buttons
// ----------------------------------------------------------------------------

.button, %button {
  @extend %verb-bold;
  @extend %base-transition;
  @include rem(font-size, 12px);
  display: inline-block;
  padding: em(12) em(36);
  border-radius: em(100);
  background: white;
  border: $border-weight--thick solid $gray--dark;
  color: $color-text--headline;
  text-transform: uppercase;

  &:hover {
    border-color: $color-primary;
  }
}