// ==============================================================================
// Carousel module
// -> for showing lots of things in one place
// ==============================================================================

// Base
// ------------------------------------------------------------------------------

.carousel {

}

	.carousel-slide {

	}

// Submodules/variations
// ------------------------------------------------------------------------------

// --------- Full-bleed carousel ----------------------------------------
// -> big, full-bleed/full-width carousel
// -> usually used in a hero unit

.carousel {
	// @extend %theme-dark;
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: white;
	background: white;

	& > ul {
		@include rem(height, 400px);
		margin: 0;
		padding: 0;
		height: 100%;
		position: relative;
	}
}
	.carousel-slide.full_bleed {
		// http://css-tricks.com/snippets/css/transparent-background-images/
		// @include base-grid-margins(padding, $full: true);
		@include rem(bottom, 50px);
		@include rem(height, 400px);
		// position: relative;
		text-align: center;
		display: block;
		width: 100%;
		list-style: none;
		background: url(../images/carousel-wolf.jpg) left center;
		background-size: cover;

		.title {
			$width: 280px;
			@include rem(bottom, 48px);
			// margin: 0 auto;
			// height: 100%;
			// padding: 10%;
			@include rem(width, $width);
			@include rem(margin-left, -($width/2));
			position: absolute;
			left: 50%;

			h5 {
				@include rem(padding-bottom, 6px);
				@include rem(margin-bottom, 6px);
				border-bottom: 1px solid white;
			}

			h3 {
				@extend %verb-light;
				@include rem(font-size, 24px);
				@include rem(margin-bottom, 18px);
			}
		}
	}

	// thumbnail navigation appearing below a hero carousel
	.carousel-thumbs {
		@extend %wrapper;
		position: relative;
		margin-bottom: 0;	
		margin-top: -8px;
		padding: 0;
		overflow: hidden;
		z-index: $base-z--middle;

		& > ul {
			@include unstyled-list;
			@include grid-span(4, 1);
			@include clearfix;

			@include breakpoint($screen--small) {
				@include grid-span(7, 2);
			}
			@include breakpoint($screen--medium) {
				@include grid-span(10, 2);
			}
		}

		li {
			@extend %base-transition;
			// @include inline-block;
			// @include inline-list--centered($height: 160px);
			margin-right: -5px;
			float: left;
			display: table;
			padding: 0;
			width: 20%; // 5 slides
			text-align: center;
		}

		.thumb {
			@extend %img-grayscale;
			@include inline-list--centered($height: 160px);
			width: 100%;
			@include opacity(0.6);
			position: relative;
			border-top: $border-weight--thick solid white;
			background: $bg--light;

			&.active {
				@extend %img-grayscale-kill;
				@include opacity(1);
				border-top: $border-weight--thick solid $color-primary;
			}

			&:hover {
				@extend %img-grayscale-kill;
				@include opacity(1);
				border-color: $color-primary;
			}
		}
	}