// ==============================================================================
// Carousel module
// -> for showing lots of things in one place
// ==============================================================================

// Base
// ------------------------------------------------------------------------------

.carousel {

}

	.carousel-slide {

	}

// Submodules/variations
// ------------------------------------------------------------------------------

// --------- Full-bleed carousel ----------------------------------------
// -> big, full-bleed/full-width carousel
// -> usually used in a hero unit

.carousel.full_bleed {
	@extend %theme-dark;
	@include rem(height, 500px);
	position: relative;
	margin: 0;
	padding: 0;
	background: url(../images/carousel-wolf.jpg) center center;
	// background-attachment: fixed;
	background-size: cover;
	color: white;

	& > ul {
		margin: 0;
		padding: 0;
	}
}
	.carousel-slide.full_bleed {
		// http://css-tricks.com/snippets/css/transparent-background-images/
		@include base-grid-margins(padding, $full: true);
		@include rem(bottom, 50px);
		position: absolute;
		text-align: center;
		display: block;
		width: 100%;
		list-style: none;
	}

	// thumbnail navigation appearing below a hero carousel
	.carousel-thumbs.full_bleed {
		@extend %wrapper;
		
		position: relative;
		margin-top: -8px;
		margin-bottom: 0;
		padding: 0;
		z-index: $base-z--middle;

		& > ul {
			@extend %list--unstyled;
			@include grid-span(4, 1);

			@include breakpoint($screen--small) {
				@include grid-span(7, 2);
			}
			@include breakpoint($screen--medium) {
				@include grid-span(10, 2);
			}
		}
	}

		.carousel-thumbs-item {
			width: 20%; // 5 slides
			// @include grid-span()
			float: left;
			display: table;
		}

		.carousel-thumbs-thumb {
			@include inline-list--centered($height: 160px);
			position: relative;
			border-top: $border-weight--thick solid white;
			background: $bg--light;

			&.active {
				border-top: $border-weight--thick solid $color-border--default;
				@extend %img-grayscale-kill;
				@include opacity(1);
			}

			&:hover {
				border-color: $black;
			}
		}