// Forms
// ----------------------------------------------------------------------------

[role="search"].large {
  @include rem(margin-top, 40px);
  @include rem(margin-bottom, 40px);
  // @include rem(padding-bottom, 1px);
  padding-bottom: 1px; //fix weird bug where it cuts off form
  // width: 100%;
  overflow: hidden;

  & > input[type="search"], & > input[type="text"] {
    @extend %verb-light;
    @extend %base-transition;
    @include rem(font-size, 20px);
    display: inline-block;
    overflow: hidden;
    width: 100%;
    padding: 0.5em 1.5em 0.5em 2.8em;
    border: $border-weight--thin solid $color-border--light;
    border-radius: 100px;
    box-shadow: inset 0 1px $color-border--light;
    background: url("#{$base-path-img}icon-search.png") 1em center no-repeat;

    &:focus {
      border: $border-weight--thin solid $color-secondary;
    }
  }
}

.contact {
  @include grid-span(4, 1, $options: both);
  text-align: left;

  @include breakpoint($screen--small) {
    @include grid-span(6, 1, $options: left);
  }

  @include breakpoint($screen--medium) {
    @include grid-span(6, 4, $options: left);
  }
  
  & > label {
    @extend %h6;
  }

  & > input:not([type=submit]):not([type=file]), & > select, & > textarea {
    @extend %lora;
    // @extend %theme-well;
    @include rem(font-size, 12px);
    @include rem(margin, 6px 0 24px 0);
    @include rem(padding, 4px);
    display: block;
    width: 100%;
  }

  & > input[type="submit"] {
    @include inline-block;
    width: auto;
    padding-left: 3em;
    padding-right: 3em;
  }

  & > textarea {
    // @include rem(height, 40px);
  }
}

