// Main (global) header
// -----------------------------------------------------------------------------

// header
[role="banner"].global {
	@include clearfix;
	@extend %theme-dark;
	@extend %verb-bold;
	@include rem(font-size, 12px);
	position: relative;
	width: 100%;
	border-bottom-width: $border-weight--thin;
	text-align: justify;
}

#home [role="banner"].global [role="navigation"].global {
	border-top: 1px solid black;
}

.masthead {
	$margin-top: 30px;
	@include rem(padding, $margin-top 0 12px 0);
	@include grid-margins;
	position: relative;
	text-align: center;

	.logo.full {
		@include rem(margin, 0 auto);
		@include inline-block;
		text-align: center;
	}

	& > h1 {
		@extend %verb-light;
		clear: both;
		text-align: center;

		& > strong {
			@extend %verb-bold;
			font-size: 1.4em;
		}
	}

	& > .login {
		@extend %menu--main;
		@include rem(top, ($margin-top + 2px));
		display: block;
		position: absolute;
		right: 0;
	}
}





	// .header-global-menu {
	// 	// @include grid-span(1, 1);
	// 	@include inline-block--centered;
	// 	float: left;
	// 	// text-align: left;
	// 	padding: 0 em(24);

	// 	@include breakpoint($screen--small) {
	// 		@include grid-span(2, 1);
	// 	}

	// 	@include breakpoint($screen--medium) {
	// 		@include grid-span(3, 1);
	// 	}

	// 	& > a {
	// 		@include inline-block;
	// 		height: 100%;
	// 		color: $gray--medium;

	// 		&:hover {
	// 			color: $gray--light;
	// 		}
	// 	}
	// }

	// .header-global-label {
	// 	@include hidden;

	// 	@include breakpoint($screen--small) {
	// 		@include restore-visible(inline-block);
	// 	}
	// }

	// .header-global-icon {
	// 	vertical-align: middle;
	// 	margin: em(-3) em(8) 0 em(8);
	// }
	
	// .header-global-logo {
	// 	@include inline-block--centered;
	// 	float: left;
	// 	clear: right;
	// 	text-align: left;

	// 	@include breakpoint($screen--small) {
	// 		@include grid-span(5, 3);
	// 		text-align: center;
	// 	}
	// 	@include breakpoint($screen--medium) {
	// 		@include grid-span(6, 4);
	// 	}
	// }
	// 	.logo-engage.full {
	// 		max-height: 50%;

	// 		@include breakpoint($screen--small) {
	// 			max-height: 60%;
	// 		}

	// 		@include breakpoint($screen--medium) {
	// 			max-height: 100%;
	// 		}
	// 	}

	// .header-global-clients {
	// 	@extend .header-global-menu;
	// 	@include hidden;
	// 	text-align: right;

	// 	@include breakpoint($screen--small) {
	// 		@include restore-visible;
	// 		@include grid-span(2, 8);
	// 	}

	// 	@include breakpoint($screen--medium) {
	// 		@include grid-span(3, 10);
	// 	}
	// }