// Main (global) header
// -----------------------------------------------------------------------------

// header
[role="banner"].global {
	@include clearfix;
	@extend %theme-dark;
	@extend %verb-bold;
	@include rem(font-size, 12px);
	@include rem(height, 50px);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: $base-z--top;
	border-bottom-width: $border-weight--thin;
	text-align: center;

	.masthead strong {
		font-size: 1.4em;
	}
}

#home [role="banner"].global {
	position: relative;
	height: auto;

	[role="navigation"].global {
		border-top: 1px solid black;
	}
}

.masthead {
	$margin-top: 30px;
	@include rem(padding, $margin-top 0 12px 0);
	@include grid-margins;
	position: relative;
	text-align: center;

	& > h1 {
		@extend %verb-light;
		@include rem(margin, 30px 0);
		clear: both;
		text-align: center;

		& > strong {
			@extend %verb-bold;
		}
	}

	& > .login {
		@extend %menu--main;
		@include rem(top, ($margin-top + 2px));
		display: block;
		position: absolute;
		right: 0;
		margin-left: 0;
		margin-right: 0;
		// padding: em(22);
		height: auto;

		&:before {
			content: none;
		}
	}
}
	.menu-btn {
		@include inline-block--centered(100%);
		@include grid-margins($property: margin);
		@extend %menu--main;
		display: block;
		position: absolute;
		// top: 50%;
		// left: 0;
		// height: 50px;
		// margin-top: -25px;
		color: $gray--medium;

		& > .icon-alone:before {
			line-height: 0;
			height: 50px;
		}
	}

	.login {
		@include inline-block--centered(100%);
		@include grid-margins($property: margin);
		@extend %menu--main;
		display: block;
		top: 0;
		right: 0;
		position: absolute;
		color: lighten($bg--dark, 15);
		// padding: em(22);
		letter-spacing: -0.01em;

		&:hover {
			color: $color-primary;
		}

		&.active {
			color: $gray--superlight;
			background: darken($gray--medium, 30);
		}
	}

	.logo.full {
		@include rem(margin, 0 auto);
		@include inline-block--centered(100%);
		text-align: center;

		& > img {
			height: 50%;
		}
	}

// Main (global) header
// -----------------------------------------------------------------------------

header.local, .header.local {
	@extend %theme-dark;
	margin-bottom: 0;
	overflow: hidden;

	.masthead {
		& > strong {
			font-size: 1em;
		}
	}
}



	// .header-global-menu {
	// 	// @include grid-span(1, 1);
	// 	@include inline-block--centered;
	// 	float: left;
	// 	// text-align: left;
	// 	padding: 0 em(24);

	// 	@include breakpoint($screen--small) {
	// 		@include grid-span(2, 1);
	// 	}

	// 	@include breakpoint($screen--medium) {
	// 		@include grid-span(3, 1);
	// 	}

	// 	& > a {
	// 		@include inline-block;
	// 		height: 100%;
	// 		color: $gray--medium;

	// 		&:hover {
	// 			color: $gray--light;
	// 		}
	// 	}
	// }

	// .header-global-label {
	// 	@include hidden;

	// 	@include breakpoint($screen--small) {
	// 		@include restore-visible(inline-block);
	// 	}
	// }

	// .header-global-icon {
	// 	vertical-align: middle;
	// 	margin: em(-3) em(8) 0 em(8);
	// }
	
	// .header-global-logo {
	// 	@include inline-block--centered;
	// 	float: left;
	// 	clear: right;
	// 	text-align: left;

	// 	@include breakpoint($screen--small) {
	// 		@include grid-span(5, 3);
	// 		text-align: center;
	// 	}
	// 	@include breakpoint($screen--medium) {
	// 		@include grid-span(6, 4);
	// 	}
	// }
	// 	.logo-engage.full {
	// 		max-height: 50%;

	// 		@include breakpoint($screen--small) {
	// 			max-height: 60%;
	// 		}

	// 		@include breakpoint($screen--medium) {
	// 			max-height: 100%;
	// 		}
	// 	}

	// .header-global-clients {
	// 	@extend .header-global-menu;
	// 	@include hidden;
	// 	text-align: right;

	// 	@include breakpoint($screen--small) {
	// 		@include restore-visible;
	// 		@include grid-span(2, 8);
	// 	}

	// 	@include breakpoint($screen--medium) {
	// 		@include grid-span(3, 10);
	// 	}
	// }