// ==========================================================================
//  Misc. Modules
// ==========================================================================

// Buttons
// ----------------------------------------------------------------------------

button, .button, %button {
  @extend %lato-black;
  @extend %base-transition;
  @include rem(font-size, 12px);
  display: inline-block;
  padding: em(16) em(40);
  border-radius: em(100);
  background: white;
  border: $border-weight--thick solid $black;
  color: $color-primary;
  text-transform: uppercase;

  &:hover {
    border-color: $color-primary;
  }
}


// Tooltips
// ----------------------------------------------------------------------------

%tooltip-base {
  @extend %raleway;
  @extend %base-transition;
  @include rem(font-size, 11px);
  position: relative;
  max-width: 200px;
  background: $black;
  color: white;
  padding: em(8) em(16);
  border-radius: 5px;
  text-align: center;
}

.tooltip-bottom {
  @extend %tooltip-base;
  @include triangle--centered(up, top, -10px, $width: 10px, $color: $black);
}

.tooltip-left {
  @extend %tooltip-base;
  @include triangle--centered(right, right, $loc: -10px, $width: 10px, $color: $black);
}

// Panels
// -> vertically-oriented, self-contained listing
// ----------------------------------------------------------------------------

.panel {
  @include rem(padding, 12px 0);
  display: block;

  & > img {
    display: block;
    @include rem(margin, 12px auto);
  }
}

.panel.center {
  text-align: center;
}

// Slats
// -> horizontally-oriented, self-contained lising
// ----------------------------------------------------------------------------

.slats {
  @extend %main;
  @extend %list--unstyled;

  & > ul {
    @extend %list--unstyled;
  }
}

[role="complementary"].slats {
  @include span-columns-media(4, $sm: 3, $med: 4);
  @include shift(0);
  @include rem(margin-top, 36px);
  text-align: left;
}

[role="complementary"].slats.right {
  @include omega;
}

.slat {
  @extend %list--unstyled;
  @include rem(margin, 24px 0);
  @include rem(padding-top, 12px);
  text-align: left;
  border-top: $border-weight--thin solid darken($bg--midtone, 10);
}

.slat.no_hairline {
  border-top: none;
  padding-top: 0;
}

// Forms
// ----------------------------------------------------------------------------

%input-invisible {
  border: none;
  background: transparent;
  border-bottom: $border-weight--thick solid $color-border--default;
  padding: 1em;

  &:focus, &:active {
    border: none;
    // background: $bg--midtone;
    border-bottom: $border-weight--thick solid $color-border--default;
    box-shadow: none;
  }
}

[role="search"].large {
  @include rem(margin-top, 40px);

  & > input[type="search"], & > input[type="text"] {
    @extend %input-invisible;
    @extend %h4;
    // @include rem(font-size, 22px);
    display: block;
    width: 100%;
    text-transform: uppercase;
  }
}

input[type="search"]:before {
  @include icon; //mixin from _webfonts
  content: "&#128269";
  speak: none; /* Not to be trusted, but hey. */
  font-size: 3.5em;
  z-index: $base-z--middle;
  position: absolute;
  @include rem(left, 12px);
}

.contact {
  @extend %main;
  @include span-columns-media(4, $sm: 5, $med: 6);
  text-align: left;

  & > label, & > input, & > select, & > textarea {
    display: block;
    width: 100%;
  }
}

aside[role="contentinfo"].right {
  @include span-columns-media(4, $sm: 3, $med: 4);
  @include omega;
  text-align: left;
}

.social {
  @extend %list--unstyled;
}