// ==============================================================================
// Navigation/menu modules
// ==============================================================================

// BASE
// ---------------------------------------------------------------------------------

.nav, %nav {

}

// Main (global) nav
// ---------------------------------------------------------------------------------

.nav-global {
	@extend %raleway-bold;
	@include rem(font-size, 14px);
	@include rem(height, 54px);
	@include opacity(0.9);
	@include rem(top, $header-h);
	background: #1A1A1A;
	text-transform: uppercase;

	& > ul {
		@extend %wrapper;
		text-align: center;
	}

	li {
		@include inline-block;
	}
}

	.nav-global-button {
			@extend %raleway-bold;
			display: block;
			color: $gray--medium;
			padding: em(16);

			&:hover {
				color: $gray--light;
			}
		}

	.active {
		color: $gray--light;
	}

	.slideOut {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 999;
	}

// Jump nav (vertical, for scrolling pages)
// ---------------------------------------------------------------------------------



// Local nav (tabs)
// ---------------------------------------------------------------------------------

.nav-horizontal {
	
}

// Thumb nav (tabs)
// ---------------------------------------------------------------------------------
.carousel-hero-thumbNav {
	@include span-columns-center(10);
	@include row;
	@include clearfix;
	position: relative;
	margin-top: -8px;
	margin-bottom: 0;
	padding: 0;
	z-index: 3;

	.carousel-hero-thumbNav-item {
		width: 20%;
		float: left;
		display: table;
	}

	.carousel-hero-thumbNav-thumb {
		@include inline-list--centered($height: 160px);
		position: relative;
		border-top: $border--thick;
		background: $bg--light;

		&.active {
			border-color: $color-primary;

			& > img {
				@extend %img-grayscale-kill;
				@include opacity(1);
			}
		}

		&:hover {
			border-color: $gray--medium;
		}
	}
}

.bw {
	@extend %img-grayscale;
	@include opacity(0.6);

	&:hover {
		@extend %img-grayscale-kill;
		@include opacity(1);
	}
}