// ==============================================================================
// Navigation/menu modules
// ==============================================================================

// BASE
// ---------------------------------------------------------------------------------

[role="navigation"], %nav { // .nav
	& > ul {
		@include unstyled-list;
	}
}

// Main (global) nav
// ---------------------------------------------------------------------------------

[role="navigation"].global { // .nav-global
	@extend %verb-bold;
	// @include rem(font-size, 16px);
	// @include rem(height, 54px);
	// @include opacity(0.9);
	// @include rem(top, $header-h);
	position: relative;
	background: $black;
	text-transform: uppercase;
	border-bottom: $border-weight--thin solid black;

	.logo.icon {
		@include inline-block--centered($height: 100%);
		@include grid-margins($property: margin);
		top: 0;
		left: 0;
		position: absolute;

		img {
			height: 30px;
		}
	}

	& > ul {
		// @extend %wrapper;
		@include unstyled-list;
		text-align: center;
	}

	li {
		@include inline-block;
		margin-right: -4px;
	}

	.global-item {
		@extend %menu--main;
		display: block;
		color: $gray--medium;
		padding: em(22);
		letter-spacing: -0.01em;

		&:hover {
			color: $color-primary;
		}

		&.active {
			color: $gray--superlight;
			background: darken($gray--medium, 30);
		}
	}

	& > .login {
		@extend .global-item;
		@include inline-block; 	
		@include grid-margins($property: margin);
		top: 0;
		right: 0;
		position: absolute;
		color: lighten($bg--dark, 15);
	}
}

footer.global [role="navigation"].global {
	background: $black;

	.global-item {

		&.active {
			color: white;
			background: transparent;
		}
	}
}

// off-canvas nav for interior pages
[role="navigation"].global.interior {
	@include rem(width, $header-w--int);
	@include rem(left, -($header-w--int));
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	border-right: $border-weight--thin solid black;

	&.is-open {
		left: 0;
	}

	li {
		display: block;
		margin: 0;
	}

	.global-item {
		border-top: $border-weight--thin solid black;
	}
}

// [role="navigation"].main.slide_out {
// 	position: absolute;
// 	left: 0;
// 	right: 0;
// 	z-index: $base-z--middle;
// }


// Jump nav (vertical, for scrolling pages)
// ---------------------------------------------------------------------------------

[role="navigation"].jump {
	@include hidden;
	// display: block;
	position: fixed;
	text-align: center;
	right: 0;
	top: 25%;
	z-index: $base-z--middle;

	@include breakpoint($screen--small) {
		@include restore-visible;
		@include rem(width, $base-margin--small - 6px);
	}

	@include breakpoint($screen--medium) {
		@include rem(width, 36px);
	}
	
	& > .arrow {
		display: block;
		text-align: center;
		margin: 0;
		padding: 0;
		color: $bg--dark;

		&:hover {
			color: $color-primary;
		}

		.icon-alone {
			text-align: center;
			margin: 0;
			padding: 0;
			margin-right: -5px;
		}
	}

	[data-icon]:before {
		line-height: 1;
		font-size: 2.5em;
	}

	& > ul {
		@include unstyled-list;
		width: 100%;
	}

	li {
		text-align: center;

		a {
			@extend %verb;
			@extend %theme-reverse;
			display: block;
			padding: 0.5em 0;
			border-bottom: $border-weight--thin solid black;
			color: $gray--medium;

			&:hover {
				color: $gray--light;
				background: lighten($bg--dark, 10);
			}

			&.active {
				color: white;
				background: $color-secondary;
			}

		}
	}
}


// Local nav (tabs)
// ---------------------------------------------------------------------------------

.tabs {

}

// tab links
.tabs.vertical {
	// @include grid-span(4, 1, $options: both);
	// border-top: $border-weight--thin solid $bg--midtone;
	@include hidden;
	@include rem(padding, gutter-span() 0);
	
	li {
		line-height: 1.3;
		text-align: right;
	}

	a {
		@extend %h5;
		display: block;
		position: relative;
		color: $color-text--headline;
		// line-height: 1;
		margin: 0;
		padding: 0.8em 0;

		&:hover {
			color: $color-primary;
		}

		&.active {
			$w: 16px;

			color: $color-primary;
			@include triangle--centered(left, $side: right, $loc: -#{gutter-span()}, $color: $color-border--medium, $width: $w, $selector: before);
			@include triangle--centered(left, $side: right, $loc: -#{gutter-span() + 3}, $color: $bg--midtone, $width: ($w + 2));
		}
	}

	@include breakpoint($screen--small) {
		@include restore-visible;
		@include grid-span(2, 1);
	}

	@include breakpoint($screen--medium) {
		@include grid-span(3, 1);
	}
}

// content area of the tab/accordion
.tabs-panel {
	@include grid-span(4, 1, $options: both);
	@include clearfix;
	overflow: hidden;
	text-align: left;

	@include breakpoint($screen--small) {
		@include hidden;
		@include grid-span(7, 3, $options: right);
		@include rem(padding-bottom, 36px);
		padding-top: gutter-span();
		padding-left: gutter-span();
		border-left: $border-weight--thin solid $color-border--medium;
	}

	@include breakpoint($screen--medium) {
		@include grid-span(9, 4, $options: right);
	}

	&.is-open {
		@include restore-visible;
	}

	.accordion-header {
		@include restore-visible;
		position: relative;

		a:after {
			@include inline-block;
			@include icon;
			content: "\E767";
			margin-left: 0.5em;
			font-size: 1.2em;
		}

		.active {
			color: $color-primary;

			&:after {
				content: '\E764';
			}
		}

		@include breakpoint($screen--small) {
			// @include grid-span(7, 3, $options: right);
			@include hidden;
		}
	}

	.accordion-content {
		@include hidden;

		&.is-open {
			@include restore-visible;
		}

		@include breakpoint($screen--small) {
			@include restore-visible;
		}
	}
	
	@include layout(4) {

		.panel-main {
			@include grid-span(4, 1, $options: both);
			@include rem(padding-bottom, 24px);
			margin: 0;

	    @include breakpoint($screen--small) {
	    	@include grid-span(3, 1);
	    }
	  }

	  .panel-aside {
	  	@include grid-span(4, 1, $options: both);

	    @include breakpoint($screen--small) {
	    	@include grid-span(1, 4);
	    }

	    ul {
	    	@include unstyled-list;
	    	@include inline-list;
	    	@include rem(padding-bottom, 8px);
	    	@include rem(margin-bottom, 16px);
	    	border-bottom: $border-weight--thin solid $color-border--medium;

	    	li {

	    		&:after {
	    			content: ' \2022 ';
	    		}

	    		&:last-child {
	    			&:after {
	    				content: '';
	    			}
	    		}
	    	}

	    	@include breakpoint($screen--small) {
	    		margin-bottom: none;
	    		padding-bottom: none;
	    		border-bottom: none;

	    		li {
	    			display: block;

	    			&:after {
	    				content: '';
	    			}
	    		}
	    	}
	    }
	  }
	}
}



[role="navigation"].local {
	
}

[role="navigation"].local.vertical {
	@include grid-span(1);
	@include rem(padding-right, 24px);
	@include rem(margin, 36px 0);
	// border-radius: 3px;

	@include breakpoint($screen--small) {
		@include grid-span(2, 8);
	}
	@include breakpoint($screen--medium) {
		@include grid-span(4, 12);
	}

	a {
		// @extend %raleway;
		// @extend %theme-reverse;
		// @include rem(font-size, 14px);
		@extend %h5;
		display: block;
		padding: 0.8em 1em;
		// border-bottom: $border-weight--thin solid black;
		// color: $gray--medium;

		&:hover {
			color: $gray--light;
			// background: lighten($bg--dark, 10);
		}

		&.active {
			// color: white;
			// background: $color-primary;
		}
	}
}

[role="navigation"].local.horizontal {

}

// Thumb nav (tabs)
// -> a row of thumbnail links
// ---------------------------------------------------------------------------------

[role="navigation"].thumbs {

}

[role="navigation"].thumbs.horizontal { // .nav-thumbs--horizontal
	@include clearfix;
	text-align: center;
	white-space: nowrap;
	clear: both;

	li {
		@include inline-block;
		vertical-align: middle;
	}
}

h1 + [role="navigation"].thumbs.horizontal {
	@include rem(margin-top, -18px);
}

	.thumb { // .nav-thumbs-item, 
		@include inline-block;
		@include rem(padding, 12px 12px);
		vertical-align: middle;

		&:hover, &:active {
			background: white;
		}
	}

	// .nav-thumbs-thumb {
	// 	@include rem(padding, 0 12px);

	// 	&:hover, &:active {
	// 		background: white;
	// 	}
	// }

// Grid (of thumbs or whatever)
// -> similar to thumbnails, but a generic container to make a gridded list
// ---------------------------------------------------------------------------------

.grid {
	@include unstyled-list;
	@include clearfix;
	padding: 0;
	margin: 0;
	clear: both;
	text-align: left;

	@include breakpoint($screen--xsmall) {
		margin-right: -#{gutter-span()};
	}

	ul {
		@include unstyled-list;
		margin: 0;
	}

	li {
		//vertically stack on mobile screens
		display: block;
		margin-right: 0;
		padding-right: 0;

		@include breakpoint($screen--xsmall) {
			@include inline-block;
			margin-right: -4px;
			padding-right: gutter-span();
			vertical-align: top;
		}
	}
}

.wrapper > .grid:first-child {
	@include rem(margin-top, 36px);
}

.grid.centered {
	text-align: center;
}

// 4 columns
.grid.small {
	$cols: 4;

	li {
		@include breakpoint($screen--xsmall) {
			width: (100%/($cols - 1));
		}
		@include breakpoint($screen--small) {
			width: (100%/$cols);
		}
	}
}

// 3 columns
.grid.medium {
	$cols: 3;

	li {
		@include breakpoint($screen--xsmall) {
			width: (100%/($cols - 1));
		}
		@include breakpoint($screen--small) {
			width: (100%/$cols);
		}
	}
}

// 2 columns
.grid.large {
	$cols: 2;

	li {
		@include breakpoint($screen--small) {
			width: (100%/$cols);
		}
	}

	& > .panel {
		@include rem(margin-top, 40px);
	}
}

// .grid.divider {
// 	li {
// 		@include grid-span(4, 4);
		
		
// 		@include breakpoint($screen--xsmall) {
// 			@include grid-span(2, 4);
// 		}
// 		@include breakpoint($screen--small) {
// 			@include grid-span(2, 8);
// 			clear: none !important;
// 		}
// 		@include breakpoint($screen--medium) {
// 			@include grid-span(3, 12);
// 			clear: none !important;
// 		}
// 	}
// }

// Slats
// -> horizontally-oriented, self-contained listing
// ----------------------------------------------------------------------------

.slats {
  @extend %narrow;

  & > ul {
    @include unstyled-list;
  }
}

[role="complementary"].slats {
  // @include span-columns-media(4, $sm: 3, $med: 4);
  // @include shift(0);
  @include rem(margin-top, 36px);
  text-align: left;
}

[role="complementary"].slats.right {
  // @include omega;
}

.slat {
  @include unstyled-list;
  @include rem(margin, 0 0 12px 0);
  @include rem(padding-top, 12px);
  text-align: left;
  border-top: $border-weight--thin solid $color-border--medium;
}

.slat.no_hairline {
  border-top: none;
  padding-top: 0;
}

// Secondary/sub-navigation
// ---------------------------------------------------------------------------------

[role="navigation"].secondary {

}

	[role="navigation"] .secondary-item {
		@extend %small;
	}

	[role="navigation"].secondary.horizontal {
		li {
			@include inline-block;
		}

		a {
			@extend %small;
			@extend %verb-bold;
			text-transform: uppercase;
		}
	}
