// ==============================================================================
// Post modules
// ==============================================================================

// Base
// ---------------------------------------------------------------------------------

.post, %post { // .nav

}

// Submodules/variants
// ---------------------------------------------------------------------------------

// ------- Excerpt -----------------------------------------------------------------

.post.excerpt {
	text-align: left;
	border-bottom: $border-weight--thin solid $color-border--light;
	position: relative;
	overflow: hidden;
	clear: both;

	&:last-child {
		border-bottom: none;
	}

	& > hgroup {
		@include rem(margin-top, 30px);

		h1, h2, h3 {
			margin: 0;
			line-height: 1.4;
		}
	}
}

.strip .post.excerpt {
	@include rem(padding-bottom, 24px);

	@include breakpoint($screen--medium) {
		@include rem(padding-bottom, 36px);
	}

	hgroup {
		text-align: center;
		@include rem(margin-top, 12px);

		h2 {
			color: $gray--medium;
		}
	}

	.narrow {
		@include grid-span(4, 1);

		@include breakpoint($screen--small) {
			@include grid-span(7, 1);
		}

		@include breakpoint($screen--medium) {
			@include grid-span(9, 2);
		}

		@include breakpoint($screen--large) {
			@include grid-span(8, 3);
		}
	}
}

.post.no_hairline {
	border-bottom: none;
}

.post.excerpt.narrow {
	// @include span-columns-media(4, $sm: 5, $med: 6);
	// @include shift(0);
	@include rem(margin-top, 36px);

	// @include media($medium) {
		// @include span-columns(6 of 12);
		// @include shift(1);
	// }
}

.post-meta.horizontal {
	@include inline-block;
	@extend %h6;
	@include rem(margin, 16px 0);

	& > dt, & > dd {
		@include inline-block;
		@extend %list--unstyled;
	}

	& > dt {
		padding: 0 0.4em;
	}

	& > .post-meta-author {
		padding: 0 0.4em 0 0;
		border-right: $border-weight--thin solid $gray--light;
	}
}

.post-meta.vertical {
	display: none;
	padding-right: 0;

	@include breakpoint($screen--small) {
		display: block;
		@include grid-span(2, 8, $options: 'right');
	}

	@include breakpoint($screen--medium) {
		@include grid-span(2, 11, $options: 'right');
	}

	dl {
		@extend %list--unstyled;
		margin: 0;
		padding: 0;
	}

	dt, dd {
		margin-left: 0;
		padding-left: 0;
	}

	dt {
		margin-top: 1em;
		text-transform: uppercase;
		color: $color-secondary;

		&:first-child {
			margin-top: 0;
		}
	}

	dd {
		color: $color-text--secondary;
	}

	& > .post-meta-author {
		padding: 0 0.4em 0 0;
		border-right: $border-weight--thin solid $gray--light;
	}
}