// ==============================================================================
// Post modules
// ==============================================================================

// Base
// ---------------------------------------------------------------------------------

.post, %post { // .nav

}

// Submodules/variants
// ---------------------------------------------------------------------------------

// ------- Excerpt -----------------------------------------------------------------

.post.excerpt {
	text-align: left;
	border-bottom: $border-weight--thin solid $color-border--default;

	&:last-child {
		border-bottom: none;
	}

	& > hgroup {
		@include rem(margin-top, 30px);

		h1, h2, h3 {
			margin: 0;
			line-height: 1.4;
		}
	}
}

.post.no_hairline {
	border-bottom: none;
}

.post.excerpt.narrow {
	@include span-columns-media(4, $sm: 5, $med: 6);
	@include shift(0);
	@include rem(margin-top, 36px);

	@include media($medium) {
		@include span-columns(6 of 12);
		@include shift(1);
	}
}

.post-meta.horizontal {
	@include inline-block;
	@extend %h6;
	@include rem(margin, 16px 0);

	& > dt, & > dd {
		@include inline-block;
		@extend %list--unstyled;
	}

	& > dt {
		padding: 0 0.4em;
	}

	& > .post-meta-author {
		padding: 0 0.4em 0 0;
		border-right: $border-weight--thin solid $gray--light;
	}
}