// ==============================================================================
// Post modules
// ==============================================================================

// Base
// ---------------------------------------------------------------------------------

.post, %post { 
	hgroup {
		h3 {
			color: lighten($color-text--body, 30);
		}
	} 
}

// Submodules/Modifiers
// ---------------------------------------------------------------------------------

// ------- Full post -----------------------------------------------------------------

.post.full {
	@extend %wrapper-grid;
	@include rem(padding-top, 48px);
	@include rem(padding-bottom, 36px);

	hgroup {
		text-align: center;
	}

	main.narrow {
		clear: none;
	}
}

// ------- Excerpt -----------------------------------------------------------------

.post.excerpt {
	@include rem(margin-top, 16px);
	text-align: left;
	border-bottom: $border-weight--thin solid $color-border--medium;
	position: relative;
	overflow: hidden;
	clear: both;

	&:last-child {
		@include rem(margin-bottom, 36px);
		border-bottom: none;
	}

	&:first-child {
		margin-top: 0;
	}

	& > .post-title {
		// @include rem(margin, 16px 0 0 0);
		margin: 0;

		h1, h2, h3 {
			margin: 0;
			line-height: 1.4;
		}
	}
}

#home .post.excerpt {
	& > .post-title {
		margin-bottom: 1em;
	}
}

.strip .post.excerpt {
	@include rem(padding-bottom, 24px);

	@include breakpoint($screen--medium) {
		@include rem(padding-bottom, 36px);
	}

	.post-title {
		text-align: center;
		@include rem(margin-top, 12px);

		h2 {
			color: $gray--medium;
		}
	}

	// .narrow {
	// 	@include grid-span(4, 1);

	// 	@include breakpoint($screen--small) {
	// 		@include grid-span(7, 1);
	// 	}

	// 	@include breakpoint($screen--medium) {
	// 		@include grid-span(9, 2);
	// 	}

	// 	@include breakpoint($screen--large) {
	// 		@include grid-span(8, 3);
	// 	}
	// }
}

.post.no_hairline {
	border-bottom: none;
}

.post.excerpt.narrow {
	@include rem(margin-top, 36px);

}