// ==============================================================================
// Story module
// -> basic content containers
// ==============================================================================

// BASE
// ------------------------------------------------------------------------------

.story, .strip, %story, %strip {
	position: relative;
	clear: both;
	@extend %theme-light;
	// @include rem(padding-top, 36px);
	@include rem(padding-bottom, 50px);
	text-align: center;
	border-top-width: $border-weight--thick;
	border-bottom: $border-weight--thin solid darken($bg--light, 20);
	
	& > hgroup, & > h1 {
		@include span-columns($grid-columns);
	}
}

// Lead story
// -> a short section of content, often an introduction pointing to deeper content
// -------------------------------------------------------------------------------------

.story--short, .strip {
	
}

.strip.first {
	border-top: none;
}

// Story colors (usually alernate as you scroll down the page)
// -------------------------------------------------------------------------------------

.story--light, %story--light {
	@extend %theme-light;
}

.strip.well, .story--midtone, %story--midtone {
	@extend %theme-midtone;
}

.strip.reverse, .story--dark, %story--dark {
	@extend %theme-dark;
}