// ==============================================================================
// Strip module
// -> basic section containers, for stacking content in a vertical scroll
// ==============================================================================

// BASE
// ------------------------------------------------------------------------------
$strip-padding: 40px;

.strip, %strip {
	@extend %theme-light;
	// @include rem(padding-top, 36px);
	@include rem(padding-bottom, $strip-padding);
	@include clearfix;
	position: relative;
	clear: both;
	// overflow: hidden;
	text-align: center;
	border-top: $border-weight--thick solid $color-border--light;
	border-bottom: $border-weight--thin solid $color-border--medium;
	
	& > hgroup, h1 {
		// @include grid-span(4, 1);
		text-align: center;
	}

	hgroup > h2 {
		color: $gray--medium;
	}
}

.strip.first, .strip:first-child {
	@include rem(padding-top, 40px);
	border-top: none;
}

.strip.full-bottom {
	padding-bottom: 0;
}

// MODIFIERS
// -> Strip colors (usually alernate as you scroll down the page)
// -------------------------------------------------------------------------------------

.strip.well, .story--midtone, %story--midtone {
	@extend %theme-midtone;
}

.strip.reverse, .story--dark, %story--dark {
	@extend %theme-dark;
}


.strip .subsection {
	// @include rem(padding-bottom, 24px);
	// overflow: hidden;
	clear: both;
	border-top: $border-weight--thin solid $color-border--medium;
}


// SUBMODULES
// ------------------------------------------------------------------------------

.strip-img {
	text-align: center;

	&.feature {
		display: block;
		margin: 1em auto;
		clear: both;

		figcaption {
			text-align: right;
			margin-top: 0.5em;
		}
	}
}