// ==============================================================================
// Strip module
// -> basic section containers, for stacking content in a vertical scroll
// ==============================================================================

// BASE
// ------------------------------------------------------------------------------
$strip-padding: 40px;

.strip, %strip {
	@extend %theme-light;
	// @include rem(padding-top, 36px);
	@include rem(padding-bottom, $strip-padding);
	@include clearfix;
	position: relative;
	clear: both;
	// overflow: hidden;
	text-align: center;
	border-top: $border-weight--thick solid $color-border--light;
	border-bottom: $border-weight--thin solid $color-border--medium;
	
	& > hgroup, & > h1 {
		@include grid-span(4, 1);
	}

	hgroup > h2 {
		color: $gray--medium;
	}
}

.strip.first, .strip:first-child {
	border-top: none;
}

.strip.full-bottom {
	padding-bottom: 0;
}

// Strip colors (usually alernate as you scroll down the page)
// -------------------------------------------------------------------------------------

.strip.well, .story--midtone, %story--midtone {
	@extend %theme-midtone;
}

.strip.reverse, .story--dark, %story--dark {
	@extend %theme-dark;
}


.strip .subsection {
	border-top: $border-weight--thin solid $color-border--medium;
}
