<nav role="navigation" class="main{% if include.slide_out == true %} slide_out{% endif %}" {% if include.slide_out == true %}id="js-slide_out"{% endif %}>
  <ul>
    <li><a href="{{ site.baseurl }}what-we-do.html" class="main-item {% if page.active == 'what-we-do' %}active{% endif %}">What we do</a></li>
    <li><a href="{{ site.baseurl }}company.html" class="main-item {% if page.active == 'company' %}active{% endif %}">Company</a></li>
    <li><a href="{{ site.baseurl }}case-studies.html" class="main-item {% if page.active == 'case-studies' %}active{% endif %}">Case studies</a></li>
    <li><a href="{{ site.baseurl }}contact.html" class="main-item {% if page.active == 'contact' %}active{% endif %}">Contact us</a></li>
    <li><a href="{{ site.baseurl }}blog.html" class="main-item {% if page.active == 'blog' %}active{% endif %}">Blog</a></li>
    <li><a href="{{ site.baseurl }}rd-tools.html" class="main-item {% if page.active == 'r+d' %}active{% endif %}">R+D</a></li>
  </ul>
</nav>