<nav class="{{ include.class }}">
	<ul>
		<li>
			<a href="#service1">Email Fundraising</a>
		</li>
		<li>
			<a href="#service2">Mobile Campaigns</a>
		</li>
		<li>
			<a href="#service3">Website Development <span class="amp">&amp;</span>&nbsp;Redesign</a>
		</li>
		<li>
			<a href="#service4">Donation Processing</a>
		</li>
		<li>
			<a href="#service5">Social Media Management</a>
		</li>
		<li>
			<a href="#service6">Online Advertising</a>
		</li>
		<li>
			<a href="#service7">Event Fundraising</a>
		</li>
		<li>
			<a href="#service8">E-append Services</a>
		</li>
	</ul>
</nav>