@charset "UTF-8";

// Icons -- http://www.entypo.com/characters/

@font-face {
  font-family: 'entypo-icons';
  src: url('../fonts/entypo.eot');
  src: url('../fonts/entypo.eot#iefix') format('embedded-opentype'),
    url('../fonts/entypo.woff') format('woff'),
    url('../fonts/entypo.ttf') format('truetype'),
    url('../fonts/entypo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'entypo-icons-social';
  src: url('../fonts/entypo-social.eot');
  src: url('../fonts/entypo-social.eot#iefix') format('embedded-opentype'),
    url('../fonts/entypo-social.woff') format('woff'),
    url('../fonts/entypo-social.ttf') format('truetype'),
    url('../fonts/entypo-social.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon-font {
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
}

// Font Mixins
@mixin icon {
  @extend %icon-font;
  font-family: 'entypo-icons';
}

@mixin icon-social {
  @extend %icon-font;
  font-family: 'entypo-icons-social';
}