
/* ==========================================================================
   Frameworks/dependencies
   ========================================================================== */

// bourbon and NEAT grid frameworks
@import "bourbon/bourbon";
@import "neat-settings";
@import "neat/neat";

@import "vendor/flexslider"; // carousel css

/* ==========================================================================
   CORE styles
   ========================================================================== */

@import "core/normalize"; // reset
@import "core/helpers/html5bp"; // helper classes/mixins
@import "core/helpers/rem"; // helper classes/mixins
@import "core/helpers/layout"; // general layout helpers
@import "core/settings"; // global variables
@import "core/base"; // BP base styles
@import "core/content"; // global/base-level typography, color etc.
@import "core/layout"; // global layout

/* ==========================================================================
   MODULE styles
   ========================================================================== */

@import "modules";

/* ==========================================================================
   Inbox -- 
   add quick and dirty CSS here, clean up and move to the right place later
   ========================================================================== */

html {
	// set up the base font size at each breakpoint
	// this will scale the whole layout proportionately as the screen size changes
	// and we only have to change one thing
	font-size: percent($base-font-size--xsmall);

	@include media($small) {
		font-size: percent($base-font-size--small);
	}

	@include media($medium) {
		font-size: percent($base-font-size--medium);
	}

	@include media($large) {
		font-size: percent($base-font-size--large);
	}
}

.wrapper, %wrapper {
	@include outer-container;
	@include base-grid-margins;
}

$header-h: em(80);

// Header
.main-header {

	@extend %theme-dark;
	@include rem(font-size, 12px);
	border-bottom: $border--thin;
	height: $header-h;
	text-align: justify;
	width: 100%;
	
	& > a {
		@include inline-list--centered($header-h);
	}

	img {
		vertical-align: middle;
	}

	// & > nav {
	// 	@extend %wrapper;
	// 	height: 100%;
	// }
}
	.icon-menu {
		@include rem(padding, 0 24px);
		// display: block;
		float: left;
	}
	
	.logo-engage.full {
		$w: 230px;
		@include rem(width, $w);
		@include rem(padding, 0 24px);
		// display: table;
		position: absolute;
		left: 50%;
		margin-left: -($w/2);
	}

	.clients-login {
		@include rem(padding, 0 24px);
		position: relative;
		// display: table;
		float: right;
	}

	.brand-icon {
		@include hide-text;
		display: block;
		width: 60px;
		height: 100%;
		top: 0;
		margin: 0;
		float: left;
		background: $black url("../images/logo-engage--icon-rev.png") center no-repeat;
	}

	.main-menu {
		@include clearfix;
		float: left;
		color: $gray--light;
		padding: 0;
		margin: 0;
		height: $header-h;
		
		& > li {
			display: block;
			float: left;
			margin: 0;
			padding: 0;
		}

		a {
			@extend %lato-bold;
			display: table-cell;
			padding: 0 em(18);
			height: $header-h;
			vertical-align: middle;
			color: $gray--light;
			text-transform: uppercase;

			&:hover, &:active {
				color: white;
			}

			&.active {
				color: lighten($gray--light, 20);
				background: darken($bg--dark, 3);
			}
		}
	}

	.search {
		float: right;
	}

	.secondary-menu {
		@extend .main-menu;
		float: right;

		a {
			color: $gray--medium;

			&:hover, &:active {
				color: lighten($gray--medium, 20);
			}
		}
	}

// Intro section
// KILLED
// .intro {
// 	@extend %theme-color;
// 	padding: em(50) 0;
// 	border-bottom: $border--thick;

// 	h1 {
// 		@include span-columns($grid-columns);
// 		padding-top: 1em;
// 		text-align: center;
// 		color: white;
// 		margin-top: 0;
// 		border-top: $border--thin;
		
// 		@include media($medium) {
// 			@include span-columns-center(10);
// 		}

// 		& > .subhead {
// 			color: $green;
// 		}
// 	}

// 	p {
// 		@include span-columns(8);
// 		@include shift(2);
// 		// padding: 1em;
// 		text-align: center;
// 		// margin-bottom: em(50);
// 		color: darken($black, 10);
// 	}
// }

.feature {
	@include clearfix;
	text-align: center;
	margin: 0;
}

.feature-hero {
	@extend %theme-dark;

	h1 {
		@include base-grid-margins(padding, $full: true);
		position: absolute;
		width: 100%;
		z-index: 5;
		margin-top: 1.5em;
	}

	h3 {
		margin: 0.8em 0;
	}
}

	.hero-carousel {
		position: relative;
		margin: 0;
		padding: 0;
		@include rem(height, 500px);
		background: url(../images/carousel-wolf.jpg) center center;
		background-size: cover;
		color: white;
	}
		.hero-carousel-slide {
			@include base-grid-margins(padding, $full: true);
			@include rem(bottom, 50px);
			position: absolute;
			text-align: center;
			display: block;
			width: 100%;
			list-style: none;	
		}

		.carousel-nav {
			@include span-columns-center(10);
			@include row;
			@include clearfix;
			position: relative;
			margin-top: -8px;
			padding: 0;
			z-index: 3;

			& > li {
				margin: 0;
				padding: 0;
				width: 20%;
				float: left;
				display: table;
				padding: 0;
				list-style: none;
			}

			.thumb {
				@include inline-list--centered($height: 160px);
				position: relative;
				border-top: $border--thick;
				background: $bg--light;

				&.active {
					border-color: $color-primary;
				}

				&:hover {
					border-color: $color-primary;
				}
			}
		}

	.feature-blurb {
		@extend %wrapper;
		text-align: center;
		clear: both;

		& > p {
			@include span-columns-center(6);
		}
	}

.what-we-do {
	background: lighten(#EDEBE8, 3);
	border-top: $border--thick;
	border-color: darken(#EDEBE8, 5);
	text-align: center;

	h5 {
		@extend %header-tag;
	}

	p {
		@include span-columns(12);
		text-align: left;



		@include media($small) {
			@include span-columns-center(6, 8);
		}

		@include media($medium) {
			@include span-columns-center(8, 12);
		}

		&:last-child {
			margin-bottom: em(50);
		}
	}
}

.tools {
	text-align: center;
	border-top: $border--thick;
	border-color: darken(white, 10);

	h5 {
		@extend %header-tag;
	}

	ul {
		position: relative;
		@include rem(margin, 50px 0);
		padding: 0;
		@include span-columns(12);
		@include row;
	}

	li {
		margin: 0;
		width: (100%/3);
		float: left;
		display: table;
		padding: 0;
		list-style: none;
		border-right: $border--thin;

		&:last-child {
			border: none;
		}
	}

	.thumb {
		@include rem(height, 160px);
		position: relative;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.blog {

	.recent-articles {
		@include span-columns(6);
		@include shift(1);
	}

	.events {
		@include span-columns(4);
		@include omega;
	}
}

footer {
	@extend %theme-dark;
}
