<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.name }} &rsaquo; {{ page.name }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/app.css">

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,700,900' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- Modernizr -->
    <script src="{{ site.baseurl }}assets/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body id="{{ page.name }}">
    <!--[if lt IE 7]>
      <p class="browsehappy">Oh dear, it looks like your browser is quite old. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- header -->
    <header role="banner" class="header header-global">
      <div class="header-global-menu">
        <a href="#">
          <img class="header-global-icon" src="{{ site.baseurl }}assets/images/icon-menu.png" alt="Menu" /> <span class="icon-label">Menu</span>
        </a>
      </div>
      <div class="header-global-logo">
        <a href="{{ site.url }}">
          <img class="logo-engage full" src="{{ site.baseurl }}assets/images/logo-engage--full.png" alt="The Engage Group. Your cause. Our effect. Online." />
        </a>
      </div>
      <div class="header-global-clients">
        <a href="#">
          <span class="icon-label">Clients</span> <img class="header-global-icon" src="{{ site.baseurl }}assets/images/icon-clients.png" alt="Client login" />
        </a>
      </div>
      <nav class="nav nav-global">
        <ul>
          <li><a href="#">What we do</a></li>
          <li><a href="{{ site.baseurl }}company.html">Company</a></li>
          <li><a href="#">Case studies</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">R+D</a></li>
        </ul>
      </nav>
    </header>

    {{ content }}

    <!-- footer -->
    <footer class="footer footer-global">
      <nav class="nav nav-global" role="banner">
        <ul>
          <li><a href="#">What We Do</a></li>
          <li><a href="#">Company</a></li>
          <li><a href="#">Case Studies</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">R+D</a></li>
        </ul>
      </nav>
      <div class="content">
        <section class="footer-brand">
          <div class="logo-footer">
            <a href="#"><img src="{{ site.baseurl }}assets/images/logo-engage--full-small.png" alt="The Engage Group" /></a>
          </div>

          <nav class="social">
            <ul>
              <li><a href="#" class="social-icon-fb">Facebook</a></li>
              <li><a href="#" class="social-icon-linkedin">LinkedIn</a></li>
              <li><a href="#" class="social-icon-twitter">Twitter</a></li>
              <li><a href="#" class="social-icon-github">Github</a></li>
            </ul>
          </nav>
          
          <div class="brand-group">
            <small>A member of <a href="http://pmgdirect.net/family/">The PMG Group</a></small>
          </div>
        </section>
        <section class="footer-contact">
          <dl>
            <dt>E</dt><dd><a href="#">hello@engageyourcause.com</a></dd>
            <dt>P</dt><dd>443.539.2650</dd>
            <dt>F</dt><dd>443.539.2750</dd>
            <dt>A</dt><dd>7160 Columbia Gateway Drive, Suite 300, Columbia, MD 21046</dd>
          </dl>
        </section>
        <section class="footer-copyright">
          <small>
            &copy; 2013 The Engage Group, a member of The Production Management Group, Ltd. family. All rights reserved.
          </small>
        </section>
      </div><!-- /.content -->
    </footer>

    <script src="{{ site.baseurl }}/ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ site.baseurl }}assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="{{ site.baseurl }}assets/js/app.min.js"></script>
  </body>
</html>
