
// ==============================================================================
// Frameworks/dependencies
// ==============================================================================

// bourbon and NEAT grid frameworks
@import "bourbon/bourbon";
@import "neat-settings";
@import "neat/neat";

@import "vendor/flexslider"; // carousel css

// ==============================================================================
// CORE styles
// ==============================================================================

@import "core/normalize"; // reset
@import "core/helpers/html5bp"; // helper classes/mixins
@import "core/helpers/rem"; // helper classes/mixins
@import "core/helpers/layout"; // general layout helpers
@import "core/helpers/effects"; // graphic effects
@import "core/settings"; // global variables
@import "core/base"; // BP base styles
@import "core/content"; // global/base-level typography, color etc.
@import "core/layout"; // global layout

// ==============================================================================
// MODULE styles
// ==============================================================================

@import "modules";


// ==============================================================================
// Inbox, AKA Land of Shame -- 
// add quick and dirty hacks here, clean up and move to the right place later
// ==============================================================================





	



.hero {
	@extend %theme-dark;
	@include clearfix;
	text-align: center;
	background: white;

	& > h1 {
		@include base-grid-margins(padding, $full: true);
		position: absolute;
		width: 100%;
		z-index: 5;
		margin-top: 1.5em;
	}
}

.hero-carousel {
	@extend %theme-dark;

	& > h1 {
		@include base-grid-margins(padding, $full: true);
		position: absolute;
		width: 100%;
		z-index: 5;
		margin-top: 1.5em;
	}
}

	.carousel--wide {
		position: relative;
		margin: 0;
		padding: 0;
		@include rem(height, 500px);
		background: url(../images/carousel-wolf.jpg) center center;
		// background-attachment: fixed;
		background-size: cover;
		color: white;
	}
		.carousel--wide-slide {
			// http://css-tricks.com/snippets/css/transparent-background-images/
			@include base-grid-margins(padding, $full: true);
			@include rem(bottom, 50px);
			position: absolute;
			text-align: center;
			display: block;
			width: 100%;
			list-style: none;	

			& > h3 {
				margin: 0.8em 0;
			}
		}

		

	.hero-blurb {
		@extend %wrapper;
		@extend %theme-light;
		text-align: center;
		clear: both;
		@include rem(padding-bottom, 50px);

		& > h3 {
			color: $color-primary;
		}

		& > p {
			@include span-columns-center(6);
		}
	}

.what-we-do {
	@include rem(padding-bottom, 50px);
	@extend %theme-midtone;
	text-align: center;

	h5 {
		@extend %header-tag;
	}

	p {
		@include span-columns(12);
		text-align: left;

		@include media($small) {
			@include span-columns-center(6, 8);
		}

		@include media($medium) {
			@include span-columns-center(8, 12);
		}
	}
}

	.services {
		@include span-columns-center(8);
		@include row;
		@include clearfix;
		position: relative;
		margin-top: 0.5em;
		margin-bottom: 1.5em;

		li {
			float: left;
			display: table;
			width: (100%/8);
		}

		.icon {
			@include inline-list--centered(60px);

			&:hover, &:active {
				background: white;
			}
		}
	}

.tools {
	text-align: center;
	border-top: $border--thick;
	border-color: darken(white, 10);
	@include rem(padding-bottom, 50px);

	h5 {
		@extend %header-tag;
	}

	ul {
		position: relative;
		@include rem(margin, 50px 0);
		padding: 0;
		@include span-columns(12);
		@include row;
	}

	li {
		margin: 0;
		width: (100%/3);
		float: left;
		display: table;
		padding: 0;
		list-style: none;
		border-right: $border--thick;
		border-color: darken(white, 10);

		&:last-child {
			border: none;
		}
	}

	.thumb {
		@include rem(height, 160px);
		position: relative;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	p {
		@include span-columns-center(8);
		@include row;
	}
	.button {
		text-align: center;
		margin-top: 1em;
	}
}

.blog {
@extend %theme-midtone;
@include rem(padding-bottom, 50px);

h6 {
	@extend %header-underline;
	color: $color-primary;
	// margin: 0;
}
	.recent-articles {
		@include span-columns(6);
		@include shift(1);
		padding: 0;
	}

	.events {
		@include span-columns(4);
		@include omega;
		padding: 0;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
}


